p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --additional-color: #757575;
  --transition-time: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn,
.clients__link,
.soc-icon__link,
.soc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  padding: 10px 32px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}

.header {
  position: relative;
  padding: 24px 0 25px;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo {
  display: block;
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: em;
  color: var(--secondary-color);
}

.logo--black {
  color: #000000;
}

.mob-menu-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.nav-menu {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .nav-menu__link.current {
  color: var(--secondary-color);
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  display: block;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--secondary-color);
}

.nav-all {
  display: none;

  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav-all {
    display: flex;
  }
}

.contacts-margin {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contacts-margin {
    display: flex;
  }
}

.contacts {
  display: flex;
  align-items: baseline;
}

.contacts__item {
  display: block;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__link {
  color: var(--additional-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contacts-wrap {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-mob-x1.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-mob-x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-tab-x1.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-tab-x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero-x2.jpg);
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.btn-hero {
  margin: 30px auto 0;
}

.advantages {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0 0 0;
  }
}

.advantages__list {
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
}

.advantages__icon-wrap {
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.advantages__title {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0 105px;
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    margin-left: auto;
  }
}

.advantages__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .advantages__label {
    margin-bottom: 0;
  }
}

.services {
  padding: 94px 0;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-bottom: 50px;
}

.lower-overlay {
  display: flex;
}

.lower-overlay__item {
  position: relative;
}

.lower-overlay__item:not(:last-child) {
  margin-right: 30px;
}

.lower-overlay__label {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  height: 70px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-left: -30px;
  }
}

.team__image {
  width: 100%;
  height: auto;
}

.team__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team-card {
  padding: 30px 0;
}

.team-card__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-card__label {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.soc-icon__item {
  width: 44px;
  height: 44px;
}

.soc-icon__item--team {
  margin-top: 16px;
}

.soc-icon__item--team:not(:last-child) {
  margin-right: 10px;
}

.soc-icon__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon__link:hover,
.soc-icon__link:focus {
  background-color: var(--secondary-color);
}

.soc-icon__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon__link:hover .soc-icon__icon {
  fill: #fff;
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    margin-left: 0;
  }
}

.clients__item {
  width: 170px;
  height: 92px;
  border: solid 1px #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0;
  }

  .clients__item:first-child {
    margin-left: 0;
  }
}

.clients__item:hover {
  border-color: var(--secondary-color);
}

.clients__item:hover .clients__icon {
  fill: var(--secondary-color);
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  width: 100%;
  height: 100%;
  fill: var(--additional-color);
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

.footer--logo {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer--logo {
    justify-content: start;
  }
}

.logo--light {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer-left-soc-wrap {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-left: 0;
  }
}

.footer-contact {
  list-style: none;
  max-width: 231px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-bottom: 0px;
  }
}

.footer-contact__item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-contact__item {
    justify-content: start;
  }
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer-soc {
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-soc {
    margin: 0 93px;
    padding-top: 12px;
  }
}

.footer-soc__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-soc__title {
    justify-content: start;
  }
}

.soc-icon__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-icon__link--footer svg {
  fill: #fff;
}

.soc-icon__item--footer:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    padding-top: 12px;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-subscribe__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-direction: row;
  }
}

.footer-form__input {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__icon {
  position: absolute;
  right: 40px;
  transform: translateX(10px);
}

.btn-footer {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .btn-footer {
    height: 50px;
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus>.close-btn__icon {
  fill: var(--secondary-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-icon-wrap:focus-within>.modal-form__input {
  border-color: var(--secondary-color);
}

.input-icon-wrap:focus-within>.modal-form__icon {
  fill: var(--secondary-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.text-area:focus-within {
  border-color: var(--secondary-color);
}

.text-area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox {
  position: relative;
  height: 24px;
}

.checkbox__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.checkbox__text {
  display: inline-flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  margin-left: 8px;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.checkbox__text::before {
  width: 16px;
  height: 16px;
  content: " ";
  border: 2px solid #212121;
  border-radius: 3px;
  position: absolute;
  left: 0;
}

.checkbox__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.checkbox__input:checked+.checkbox__text::before {
  background-color: var(--secondary-color);
  background-image: url(../images/checkbox-checked.svg);
  background-position: center;
  background-size: contain;
  border-color: transparent;
  background-repeat: no-repeat;
}

.portfolio {
  padding: 94px 0;
  background-color: #ffffff;
}

.filter-btn {
  padding: 6px 22px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  border: 0;
  cursor: pointer;
  background-color: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--secondary-color);
}

.portfolio-example {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-group {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.active-link:active {
  color: var(--secondary-color);
}

.nav-menu__link {
  position: relative;
}

.nav-menu__link.current::after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(calc(100% + 26px));
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.overlay-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.overlay-cards__label {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-cards__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: left;
  max-width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-cards__item:hover,
.overlay-cards__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-exmpl {
  padding: 20px 24px;
}

.overlay-cards__item:hover .overlay-cards__label {
  transform: translateY(0);
}

.filter-item:hover,
.filter-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay-cards-thumb {
  position: relative;
  overflow: hidden;
}