
.mob-menu {
        padding: 48px 83px 48px 40px;
        width: 100px;
        height: 100px;
        background-color: #fff;
        transform: translateY(-60px);

        @media screen and (min-width: 768px) {
        display: none;
        }

    }


.mob-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover .mob-close-btn__icon {
        fill: var(--secondary-color);
    }

}
.mob-menu__list {

}



.mob-menu__item {
    margin-bottom: 32px;

    @include font(40, 500, 1.18, 0.02);

    color: var(--main-color);
    &:hover,
    &:focus {
        color: var(--secondary-color);
    }
}

.mob-menu__link {}


.contacts {}

.contacts--mobile {
    display: block;
    margin-top: 306px;

}

.contacts__item--mob {
    margin-left: 0;
    &:first-child {
         margin-bottom: 32px;
    }

}

.contacts__link {

    &--tel {
        color: var(--secondary-color);
        @include font(34, 500, 1.18, 0.02);
    }

    &--mail {
        @include font(24, 500, 1.17, 0.02);
    }

}

.header-icon {}

.mob-menu-soc {
    display: flex;

    margin-top: 64px;
}

.mob-menu-soc__item {
    display: flex;
    align-items: center;
    
    &:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    rotate: 90deg;
    }


}

.mob-menu-soc__link {
    color: var(--secondary-color);

}