.hero {
    padding: 118px 0;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../images/hero-mob-x1.jpg);
        @include retina {
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../images/hero-mob-x2.jpg);
        }
    background-color: rgba(47, 48, 58, 0.4);
    background-size: cover;
    background-position: center;


    @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../images/hero-tab-x1.jpg);

    @include retina {
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../images/hero-tab-x2.jpg);
    }
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../images/hero.jpg);

    @include retina {
        background-image: linear-gradient(to right,
         rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.5)),
        url(../images/hero-x2.jpg);
    }
    }

&__title {
            margin: 0 auto;
            max-width: 360px;
            @include font(26, 900, 1.61, 0.06);
            text-transform: uppercase;
            color: #fff;

        @media screen and (min-width: 1200px) {
            @include font(44, 900, 1.36, 0.06);
            max-width: 696px;
        }            
}
}

.btn-hero {
    margin: 30px auto 0;
}