.footer {
    background-color: #2F303A;
    padding: 60px 0;


& .container {

            @media screen and (min-width:1200px) {
                display: flex;
            }

        }
    }
.footer--logo {
display: flex;
justify-content: center;

@media screen and (min-width: 1200px) {
    justify-content: start;
}
}


.logo--light {
    color: #fff;
}


.footer-left-soc-wrap {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

            }
}


.footer-left {

    @media screen and (min-width: 768px) {
        margin-left: 76px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }

}


.footer-contact {
    list-style: none;
    max-width: 231px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;

    }


&__item {
        margin-bottom: 9px;
        @include font(14, null, 1.71, 0.03);
        color: rgba(255, 255, 255, 0.6);

        display: flex;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            justify-content: start;
        }
        

    }

&__link {
    color: rgba(255, 255, 255, 0.6);
    @include font(16, null, 1.14, 0.03);

    }
}


.footer-address {
    margin-top: 20px;
    font-style: normal;
    color: #FFFFFF;
}



.footer-soc {


    @media screen and (min-width: 768px) {
        margin-right: 89px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 93px;
        padding-top: 12px;
    }

&__title {
        margin-bottom: 20px;
        @include font(14, null, 16px, 0.03);

        text-transform: uppercase;
        color: #FFFFFF;
        font-style: normal;

        display: flex;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            justify-content: start;
        }
       
    }
}


.soc-icon__link--footer {
    background-color: rgba(255, 255, 255, 0.1);

& svg {
        fill: #fff;
    }
}


.soc-icon__item--footer:not(:last-child) {
    margin-right: 10px;
}

.footer-subscribe {


    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    }

&__title {
        margin-bottom: 20px;
        margin-top: 60px;
        @include font(14, null, 16px, 0.03);

        text-transform: uppercase;
        color: #FFFFFF;

        display: flex;
        justify-content: center;

        @media screen and (min-width: 768px) {
            margin-top: 0;;
        }

        @media screen and (min-width: 1200px) {
            justify-content: start;
        }
    }
}


.footer-form {
    

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }
 
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }

&__input {
        
        background-color: transparent;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        
        width: 100%;
        margin-bottom: 20px;
        height: 50px;

        @media screen and (min-width: 768px) {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
    }

&__icon {
    position: absolute;
    right: 40px;
    transform: translateX(10px);
    }
}

.btn-footer {
    position: relative;
    width: 200px;
    padding: 10px 62px 10px 28px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        height: 50px;
        margin-left: 12px;
    }
}

